.system_bg_color {
    background-color: #EAEAEA;
}

.container_style {
    border: 1px solid #D1D1D1;
    border-top: none;
    /*background-image: url(../img/bg.jpg);
    background-size: contain;*/
}


.bg_style_header {
    background-color: #7C7C7C;
    border: 1px solid #7C7C7C;
    background: linear-gradient(180deg, #707070, #7C7C7C, #888888);
}


.my_logo {
    position: relative;
    top: -11%;
    left: 10%;
    border: none;

}

.header_underline {
    height: 0px;
    border: 1px solid rgba(102, 102, 102, 0.4);
    max-width: 100%;
    /*margin: 0 auto;*/
}

/*Стрелка вниз на дропдауне языков*/
.header_select {
    background: #fff url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-down%22%20viewBox%3D%220%200%2016%2016%22%3E%0D%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708%22%2F%3E%0D%0A%3C%2Fsvg%3E") right 0.75rem center/15px 14px no-repeat;
    height: 25px;
    font-size: 0.85rem;
    width: 70px;
    cursor: pointer;

}

/*Стрелка вверх на дропдауне языков*/
.header_select:focus {
    background: #fff url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-up%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M7.646%204.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201-.708.708L8%205.707l-5.646%205.647a.5.5%200%200%201-.708-.708z%22%2F%3E%0A%3C%2Fsvg%3E") right 0.75rem center/15px 14px no-repeat;
    height: 25px;
    font-size: 0.85rem;
    width: 70px;

}

/*клас для активации через js*/
.header_select_after {
    background: #fff url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-up%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M7.646%204.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201-.708.708L8%205.707l-5.646%205.647a.5.5%200%200%201-.708-.708z%22%2F%3E%0A%3C%2Fsvg%3E") right 0.75rem center/15px 14px no-repeat;
    height: 25px;
    font-size: 0.85rem;
    width: 70px;

}


.text_format {
    font-size: 1rem;
    /*font-size: 17px;*/

}

.grey_color {
    color: #666666;
}

.text_align_justify {
    text-align: justify;
}

.fs_proj_header {
    font-size: 2.8rem;
}

.u_color {
    color: #666666;
    text-shadow: 0.5px 0.5px 0.5px #888888;
}

.u_color:hover {
    color: #666666;
}

.email_color {
    color: #3E71C7;
}

.fs_word {
    font-size: 21px;
    font-size: 1.4rem;
}

.ml_90 {
    margin-left: 90%;
}

.ml_20 {
    margin-left: 6%;
}

/***********************************************************************/

.adaptive_max_width {
    max-width: 90%;
    /* По умолчанию */
}

@media (min-width: 576px) {
    .adaptive_max_width {
        max-width: 90%;
        /* Для экранов шириной от 576px */
    }
}

@media (min-width: 768px) {
    .adaptive_max_width {
        max-width: 75%;
        /* Для экранов шириной от 768px */
    }
}

@media (min-width: 992px) {
    .adaptive_max_width {
        max-width: 75%;
        /* Для экранов шириной от 992px */
    }
}

@media (min-width: 1200px) {
    .adaptive_max_width {
        max-width: 55%;
        /* Для экранов шириной от 1200px */
    }
}

/*--------------------------------------------------------------------------*/

.fs_mbile {
    font-size: inherit;
}

@media (min-width:300px) {
    .fs_mbile {
        font-size: 15px;
        /* Для экранов шириной от 300px */
    }
}

@media(min-width:412px){
    .fs_mbile {
        font-size: inherit;
    }
}