.system_bg_color {
    background-color: #EAEAEA;
}

.container_style {
    border: 1px solid #D1D1D1;
    border-top: none;
    /*max-width: 75%;*/
}


.bg_style_header {
    background-color: #7C7C7C;
    border: 1px solid #7C7C7C;
}


.my_logo {
    position: relative;
    top: -11%;
    left: 10%;
    border: none;

}

.header_underline {
    height: 0px;
    border: 1px solid rgba(102, 102, 102, 0.4);
    max-width: 100%;
    /*margin: 0 auto;*/
}


.text_format {
    font-size: 1rem;
  /*  font-size: 17px;*/
    
}

.grey_color {
    color: #666666;
}

.text_align_justify {
    text-align: justify;
}

.fs_proj_header{
    font-size: 2.8rem;
}

.u_color{
    color: #666666;
    text-shadow: 0.5px 0.5px 0.5px #888888;
}

.u_color:hover{
    color: #666666;
} 

.email_color{
    color: #3E71C7;
}

.fs_word{
    font-size: 21px;
    font-size: 1.4rem;
}

.ml_90{
    margin-left: 90%;
}

.ml_20{
    margin-left: 6%;
}

/***********************************************************************/

.adaptive_max_width {
  max-width: 90%; /* По умолчанию */
}

@media (min-width: 576px) {
  .adaptive_max_width {
    max-width: 90%; /* Для экранов шириной от 576px */
  }
}

@media (min-width: 768px) {
  .adaptive_max_width{
    max-width: 75%; /* Для экранов шириной от 768px */
  }
}

@media (min-width: 992px) {
  .adaptive_max_width {
    max-width: 75%; /* Для экранов шириной от 992px */
  }
}

@media (min-width: 1200px) {
  .adaptive_max_width {
    max-width: 55%; /* Для экранов шириной от 1200px */
  }
}